.container {
  display: flex;
  width: 1232px;
  padding-top: 116px;
  margin: 0 auto 78px auto;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  }

.column.medium {
  width: 300px;
}

.column.small {
  display: flex;
  width: 240px;
}

.news-bites {
  display: inline-flex;
  flex-flow: column;
  flex-direction: column;
}

.titlebite {
  font-size: 16px;
 font-weight: bold;
    text-align: center;
}

.bite {
  display: flex;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
}

.image-content {
display: flex;
height: 300px;
display: inline-block;
font-family: Georgia;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: white;
}

.main.image-content {
background-image: url(../images/img-story-main.png);
display: flex;
width: 630px;
text-align: left;
  font-size: 40px;
}

.story1.image-content {
background-image: url(../images/img-story-2.png);
display: flex;
font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.story2.image-content {
  display: flex;
background-image: url(../images/img-story-3.png);
font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.story3.image-content {
background-image: url(../images/img-story-1.png);
display: flex;
font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.text-content {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.smallerstories {
  flex: 1 0 50%;
display: inline-flex;
}



header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid black;
  background-color: white;
  align-items: center;
  width: 100%;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo span {
  color: MediumAquamarine;
}

.logo img {
  margin-right: 12px;
}

header nav {
  padding-right: 40px;
}

a {
  color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

body {
  margin: 0;
  font-family: Georgia;
  font-size: 17 px;
  color: black;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-family: Georgia;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  }

  .title {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
  }

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  font-family: Verdana;
  font-size: 12px;
}
